<h1>Edit</h1>

<%= form_for @student do |f| %>
	<%= f.label :name%>
	<%= f.text_field :name %>
	<br>
	<%= f.label :class1 %>
	<%= f.text_field :class1 %>
	<br>
	<%= f.label :grade1 %>
	<%= f.text_field :grade1 %>
	<br>
	<%= f.label :class2 %>
	<%= f.text_field :class2 %>
	<br>
	<%= f.label :grade2 %>
	<%= f.text_field :grade2 %>
	<br>
	<%= f.label :class3 %>
	<%= f.text_field :class3 %>
	<br>
	<%= f.label :grade3 %>
	<%= f.text_field :grade3 %>
	<br>
	<%= f.label :class4 %>
	<%= f.text_field :class4 %>
	<br>
	<%= f.label :grade4 %>
	<%= f.text_field :grade4 %>
	<br>
	<%= f.submit %>
<% end %>