	<li><%= @student.name %></li>
	<li><%= @student.class1 %></li>
	<li><%= @student.grade1 %></li>
	<li><%= @student.class2 %></li>
	<li><%= @student.grade2 %></li>
	<li><%= @student.class3 %></li>
	<li><%= @student.grade3 %></li>
	<li><%= @student.class4 %></li>
	<li><%= @student.grade4 %></li>

	<%= link_to "Home", root_path %>